/* Container styling */
.dashboard-container {
  text-align: center;
  margin-top: 50px;
  font-family: 'Arial', sans-serif;
  background: black;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  animation: fadeIn 2s ease-in-out;
  }
  
  /* Title styling */
.dashboard-title {
  color: white;
  font-size: 3em;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  animation: slideInFromTop 1s ease-in-out;
  }
  
  /* Menu styling */
.dashboard-menu {
  list-style-type: none;
  padding: 0;
  }
  
.menu-item {
  margin: 15px 0;
  }
  
.menu-item a {
  display: inline-block;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.2em;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
.menu-item a:hover {
  background-color: #e64a19;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  /* Animations */
@keyframes fadeIn {
  0% {
  opacity: 0;
  transform: translateY(20px);
  }
  100% {
   opacity: 1;
   transform: translateY(0);
  }
  }
  
@keyframes slideInFromTop {
  0% {
   transform: translateY(-100%);
   opacity: 0;
  }
  100% {
   transform: translateY(0);
  opacity: 1;
  }
  }
  
